---
import Layout from "../layouts/Layout.astro";
import { getAllBlogs } from "../repositories/microcmsRepository";
import Card from "../components/Card.astro";

const res = await getAllBlogs({ fields: ["id", "title", "createdAt", "url"] });
---

<Layout title="My Origin Blog">
  <main>
    <ul>
      {
        res.contents.map((content: any) => {
          return (
            <li class="instructions">
              <Card
                href={content.id}
                title={content.title}
                url={content.url.url}
              />
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
